<div class="card">
    <header>
        <div>
            <img src="https://image.flaticon.com/icons/png/512/611/611899.png" width="50"
                 height="50" alt="author">
            <h1>{{post.author}}</h1>
        </div>
        <div class="wrapper-title">
            <h2>{{post.title}}</h2>
        </div>
        <div>
            <span>{{post.date | date:'dd.MM.yyyy'}}</span>
        </div>
    </header>
    <hr>
    <main>
        <div class="wrapper-title-mobile">
            <h2>{{post.title}}</h2>
        </div>
        <quill-view-html [content]="post.text"></quill-view-html>
    </main>
    <footer>
        <button class="btn" [routerLink]="['/post', post.id]">Чекнуть пост</button>
    </footer>
</div>





