<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button [routerLink]="['/']" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Автор</strong>
    <small>12.03.2019</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur dolore, odio quod recusandae tempore ullam velit! Alias esse est et id impedit magni molestiae nam nostrum officia optio quam quod ratione sequi sint, soluta sunt vitae. Aspernatur deserunt excepturi, facilis fuga iusto natus non numquam provident repellendus similique sint..</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, quaerat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, quaerat.</p>
  </div>
</div>
